.container {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #333;
}

.bg_img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.container_content {
  background-color: rgba(0, 0, 0, 0.137);
  color: #fff;
  min-width: 100vw;
  min-height: 100vh;
  padding: 1.5rem 5.4rem;
  position: absolute;
  top: 0;
  left: 0;
}

.logo_design {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo_design div {
  height: 50px;
  width: 50px;
  background-color: #333;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_container nav .nav_link {
  text-decoration: none;
  margin: 0 1.9rem;
  color: #fff;
}

.button_container button {
  margin: 0 1.3rem;
  height: 40px;
  width: 130px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 0.9rem;
}

.button_container button:nth-child(1) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.button_container button:nth-child(2) {
  color: #333;
}
/*Body*/
.body_container {
  margin: 4.8rem 0;
}

.body_content {
  width: 650px;
  min-height: 100vh;
}

.body_text div:nth-child(1) {
  font-size: 2.4rem;
  color: #333;
}

.body_text div:nth-child(1) h1 {
  margin: 1.3rem 0;
}

.body_text div p {
  margin: 2.3rem 0;
  line-height: 1.5rem;
  color: #333;
  width: 550px;
}

.check_button {
  height: 50px;
  width: 400px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: #333;
  color: #fff;
  transition: 0.5s;
}

.check_button:hover {
    background-color: #fff;
    color: #333;
}

.body_content .car_image {
  position: absolute;
  right: 8%;
  top: -10%;
  height: auto;
  width: 30%;
  z-index: -1;
  animation: 0.8s car ease-in-out forwards;
}

@keyframes car {
  from {
    transform: translateX(100%) rotate(-90deg);
  }
  to {
    transform: translateX(0) rotate(-90deg);
  }
}

/*Map_container*/
.map_container {
  min-height: 50vh;
  min-width: 100vw;
  background: url(../assets/mapbg.jpg) no-repeat center/cover;
  left: 0;
  margin-top: -11.5%;
  z-index: 1;
  position: absolute;
  left: 0;
}

.map_content {
  position: relative;
  overflow-x: hidden;
  padding: 1.5rem 5.4rem;
}

.blur {
  background-color: rgba(0, 0, 0, 0.87);
  position: absolute;
  min-height: 100%;
  width: 100%;
  z-index: -1;
}

.map_content {
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2.5rem;
  z-index: 1;
}

.map_content .intro {
  width: 35 0px;
  line-height: 1.9rem;
}

.map_content .intro h1{
  font-size: 2.4rem;
  margin: 1.2rem 0;
}

.map_content .intro button {
  height: 45px;
  width: 250px;
  background-color: #141414;
  color: white;
  border: none;
  outline: none;
  border-radius: 50px;
  margin: 0.8rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.map_content .intro button:hover {
  background-color: #fff;
  color: #141414;
}

.map_image_container {
  position: relative;
  width: 300px; /* Adjust based on your preference */
  height: 290px;
}

.map_image_container img {
  position: absolute; /* Adjust image size */
  height: auto;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}

.map_image_container img:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.map_image_container img:nth-child(2) {
  top: 5px;
  left: 250px;
  width: 190px;
  height: 190px;
  z-index: 2;
}

.map_image_container img:nth-child(3) {
  top: 100px;
  left: 190px;
  z-index: 1;
  height: 200px;
  width: 200px;
}

/*Footer*/
footer {
  padding: 2.5rem 5.4rem;
  background-color: #131212;
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cut_footer {
  margin: 10.4rem 0;
}

.footer_inp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.9rem 0;
}

.footer_inp input[type=email]{
  height: 45px;
  width: 300px;
  border: none;
  outline: none;
  padding: 0 1.4rem;
}

.footer_inp input[type=submit] {
  height: 45px;
  width: 150px;
  background-color: black;
  border: none;
  outline: none;
  color: #fff;
}

.footer nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.9rem;
}

.footer nav .footer_links {
  text-decoration: none;
  color: #fff;
  margin: 0 1.3rem;
}

.copy {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: black;
  bottom: -80px;
  left: 0;
  margin: 2.3rem 0;
  padding: 1.3rem 0;
}