.signup_container {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  font-family: Yu Gothic;
  background-color: rgb(233, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

.signup_content {
  background-color: white;
  width: 90%;
  height: 590px;
  border-radius: 10px;
  overflow-x: hidden;
  position: relative;
}

.signup_form {
  padding: 1.5rem 2rem;
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.signup_form span {
  font-size: 3rem;
  font-weight: bold;
}

.signup_form p {
  font-size: 1.2rem;
  margin: 1.8rem 0;
}

.sign_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  margin: 1.5rem 0;
}

.sign_btn button {
  height: 45px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 50px;
  transition: 0.5s;
}

.sign_btn button:nth-child(1) {
  background-color: rgb(19, 17, 17);
  color: white;
}

.sign_btn button:nth-child(1):hover {
  background-color: whitesmoke;
  color: #333;
}

.sign_btn button:nth-child(2):hover {
  background-color: rgb(19, 17, 17);
  color: #fff;
}

.signup_intro {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
}

.signup_intro img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.signup_intro .signup_box {
  position: absolute;
  bottom: 30px;
  z-index: 1;
  width: 500px;
  padding: 1.3rem 0.9rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
  backdrop-filter: blur(8px); /* Blurs the background behind the element */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for depth */
  color: #fff;
}

.signup_box p {
  font-size: 1rem;
}

.sign_box_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.9rem 0;
}

.icon i {
  color: wheat;
}
